
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.navigation a {
    position: relative;
    font-size: 1.2em;
    margin-left: 40px;
    color: black;
    text-decoration: none;
    margin-left: 40px;
}
.navigation a:hover{
  color: #00C2FF;
    border-radius: 20%;
    transition-duration: 1s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 21px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  body{
    display: flex;
    justify-content: center;
    background-color: #00C2FF;
}

.container{
    background-color:#3C7BB5;
    height: 600px;
    width: 700px;
    position: absolute;
    top: 20%;
    border-radius: 20px;
}

.container h2 {
    text-align: center;
    color: #DF9404;
    font-family: Wendy One;
    font-size: 60px;
}
.container_btn{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100px;
  margin-left: 31%;
  }
  
  .container_btn button{
      margin-bottom: 15px;
      height: 50px;
      width: 250px;
  }
  
  .button {
    background-color: #3DD1E7;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:focus {
    outline: 0;
  }
  
  .button:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .button:hover:after {
    bottom: 2px;
    left: 2px;
  }
  