header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 9999;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;

}

.navigation a{
  position: relative;
  font-size: 1.2em;
  margin-left: 40px;
  color: black;
  text-decoration: none;
  margin-left: 40px;
}
.navigation a:hover{
  color: #00C2FF;
    border-radius: 20%;
    transition-duration: 1s;
}

body{
  display: relative;
  flex-direction: column;
  justify-content: center;
  background-color: #4CBBC2;
  
} 

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




/* 
My works down below
} */


main {
padding-top: 70px;
display: flex;
flex-direction: row;
width: 100%;
flex-direction: column;
align-items: center;
gap: 24px;
position: relative;

}

.button {
display: flex;
align-items: flex-start;
gap: 12px;
position: relative;
}

main h1 {
width: 520px;
font-family: "Roboto-Bold", Helvetica;
font-weight: 700;
color: #000000;
font-size: 40px;
text-align: center;
line-height: 48px;
position: relative;
margin-top: -8px;
letter-spacing: 0;
}

main h2 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  color: #000000;
  letter-spacing: 0;
}

main h3 {
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  color: #000000;
  letter-spacing: 0;
}

main h4 {
  height: 20px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  color: #000000;
  letter-spacing: 0;
}

main p {
  position: relative;
  align-self: stretch;
  height: 48px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

main .title {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  gap: 12px;
  position: relative;

}

main .description {
  position: relative;
  width: 520px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0;
  line-height: 24px;
  
  }
  

main .buttonGroup {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  justify-content: center;
  }

  main .whiteButton {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  position: relative;
  border-radius: 8px;
  border: 1px solid;
  border-color: #000000;
  color: #000000;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 16px;
  }



  main .blackButton {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  position: relative;
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 16px;
  }

 


.account {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  background-color: #07603B;
  padding: 60px 170px;

}

.account header{
display: inline-block;
width: fit-content;
flex-direction: column;
align-items: flex-start;
justify-content: center; 
position: relative;
gap: 24px;
flex: 1;
flex-grow: 1;
background-color: #07603B;
z-index: 1;

}

.account .title {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 12px;
position: relative;
}




  

/* styles for featuredGame  */

.featuredGame {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  background-color: #b54242;

}


.featuredGame header {
display: inline-block;
width: fit-content;
flex-direction: column;
align-items: flex-start;
gap: 24px;
position: relative;
background-color: #b54242;
z-index: 999
}


.featuredGame .list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;

  /* flex-direction: row; */
  /* width: 100%; */
  
}

.featuredGame .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: #0000001a;

}

.featuredGame .card img {
  background-color: #d8d8d880;
  align-self: stretch;
  position: relative;
  object-fit: cover;
  width: 120px;
  height: 120px;


}

.featuredGame .card figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 12px;
  position: relative;
  align-self: stretch;

}

.featuredGame .card .title {
  position: relative;
}

.featuredGame .card .subtitle {
  position: relative;

}









/* styles for howToPlay  */


.howToPlay {
display: flex;
flex-direction: row;
width: 100%;
align-items: center;
justify-content: center;
gap: 40px;
padding: 60px 170px;
position: relative;
background-color: #1e3bd2;



}

.howToPlay header {
display: inline-block;
width: fit-content;
flex-direction: column;
align-items: flex-start;
gap: 24px;
position: relative;
background-color: #1e3bd2;
z-index: 999
}


.howToPlay article {
display: flex;
flex-direction: column;
justify-content: center;
padding: 20px 18px;
align-items: center;
gap: 40px;
position: relative;
width: 850px;

}

.howToPlay .row {
align-self: stretch;
width: 100%;
flex: 0 0 auto;
display: flex;
align-items: center;
gap: 40px;
position: relative;
}

.howToPlay figure {
display: flex;
align-items: flex-start;
justify-content: center;
gap: 16px;
padding: 16px;
position: relative;
/* flex: 1;
flex-grow: 1; */
border-radius: 6px;
border: 1px solid;
border-color: #0000001a;
}

.howToPlay img {
position: relative;
align-self: stretch;
object-fit: cover;
background-color: #d8d8d880;
width: 120px;
height: 120px;

}

.howToPlay figcaption {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
position: relative;
flex: 1;
flex-grow: 1;
}




/* styles for player Reviews  */

.playerReviews {
display: flex;
flex-direction: row;
width: 100%;
align-items: center;
justify-content: center;
gap: 60px;
padding: 60px 170px;
position: relative;
overflow: hidden;
background-color: rgb(200, 171, 6);
}

.playerReviews header {
display: inline-block;
width: fit-content;
flex-direction: column;
align-items: flex-start;
gap: 24px;
position: relative;
flex: 1;
flex-grow: 1;
}



.playerReviews article {
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
position: relative;
flex: 1;
flex-grow: 1;
}

.playerReviews .row {
align-self: stretch;
width: 100%;
flex: 0 0 auto;
display: flex;
align-items: center;
gap: 40px;
position: relative;
}

.playerReviews figure {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 16px;
padding: 16px;
position: relative;
flex: 1;
flex-grow: 1;
background-color: #0000000d;
border-radius: 6px;

}

.playerReviews .user {
display: flex;
align-items: center;
gap: 4px;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}

.playerReviews figure.avatar {
display: flex;
align-items: center;
gap: 8px;
position: relative;
flex: 1;
flex-grow: 1;
}

.playerReviews img.div {
position: relative;
width: 32px;
height: 32px;
background-color: #0000001a;
border-radius: 32px;
}

.playerReviews figcaption {
display: flex;
flex-direction: column;
align-items: flex-start;
position: relative;
flex: 1;
flex-grow: 1;
}



/* styles for leaderboard */

.leaderboard {
display: flex;
flex-direction: row;
width: 100%;
align-items: center;
justify-content: center;
gap: 60px;
padding: 60px 100px;
position: relative;
background-color: orange;
}

.leaderboard header{
display: inline-block;
width: fit-content;
flex-direction: column;
align-items: flex-start;
justify-content: center; 
position: relative;
gap: 24px;
flex: 1;
flex-grow: 1;
background-color: orange;
z-index: 1;

}



.leaderboard article {
display: flex;
align-items: flex-start;
justify-content: center;
gap: 40px;
padding: 20px 0px;
position: relative;
flex: 1;
flex-grow: 1;
}

.leaderboard figure {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
padding: 12px 0px;
position: relative;
flex: 1;
flex-grow: 1;
}

.leaderboard .frame {
position: relative;
width: 100px;
height: 100px;
background-color: #0000000d;
border-radius: 50px;
}

.leaderboard .icon {
position: absolute;
width: 100px;
height: 100px;
top: -1px;
left: 0;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #000000;
font-size: 62.5px;
text-align: center;
letter-spacing: 0;
line-height: 100px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
}

.leaderboard div {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}





/* styles for commuinty Posts */

.communityPosts {
display: flex;
flex-direction: row;
width: 100%;
align-items: center;
justify-content: center;
gap: 60px;
padding: 60px 170px;
position: relative;
overflow: hidden;
background-color: #07603B;
}

.communityPosts header {
display: flex;
flex-direction: column;
align-items: flex-start;
position: relative;
flex: 1;
flex-grow: 1;
background-color: #07603B;

}



.communityPosts article {
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
position: relative;
flex: 1;
flex-grow: 1;
}

.communityPosts figure {
display: flex;
flex-direction: column;
align-items: center;
position: relative;
flex: 1;
flex-grow: 1;
border-radius: 6px;
overflow: hidden;
border: 1px solid;
border-color: #0000001a;
}

.communityPosts img {
flex: 1;
flex-grow: 1;
background-color: #d8d8d880;
position: relative;
align-self: stretch;
max-width: 100%;

}



.communityPosts figcaption {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
padding: 12px;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}


.communityPosts .selection {
display: flex;
align-items: center;
gap: 6px;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}

.communityPosts span.label-normal {
display: inline-flex;
align-items: center;
justify-content: center;
gap: 2px;
padding: 2px 4px;
position: relative;
flex: 0 0 auto;
background-color: #d8d8d880;
border-radius: 2px;
overflow: hidden;
border: 0.5px solid;
border-color: #0000001a;
}

.communityPosts span.label-text {
position: relative;
width: fit-content;
margin-top: -0.5px;
font-family: "Roboto-Regular", Helvetica;
font-weight: 400;
color: #000000;
font-size: 12px;
letter-spacing: 0;
line-height: 16px;
white-space: nowrap;
}

.communityPosts figure.avatar {
display: flex;
align-items: center;
gap: 8px;
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}

.communityPosts img.avatar-2 {
position: relative;
width: 20px;
height: 20px;
background-color: #0000001a;
border-radius: 20px;
}

.communityPosts figcaption {
display: flex;
flex-direction: column;
align-items: flex-start;
position: relative;
flex: 1;
flex-grow: 1;
}

/* .communityPosts h3 {
position: relative;
align-self: stretch;
height: 20px;
margin-top: -1px;
font-family: "Roboto-Medium", Helvetica;
font-weight: 500;
color: #000000;
font-size: 14px;
letter-spacing: 0;
line-height: 20px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
} */

