
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.navigation a{
    position: relative;
    font-size: 1.2em;
    margin-left: 40px;
    color: black;
    text-decoration: none;
    margin-left: 40px;
}

.navigation a:hover{
    color: #00C2FF;
    border-radius: 20%;
    transition-duration: 1s;
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 21px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

body{
    display: flex;
    justify-content: center;
    background-color: #00C2FF;
}

.profileInfo{
    background-color:#3C7BB5;
    height: 400px;
    width: 350px;
    position: absolute;
    top: 20%;
    border-radius: 20px;
}

.profileInfo img{
    border-radius: 50%;
    position: relative;
    left: 35%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profileInfo p {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 22px;
    color: #fff;
}
button{
    position: absolute;
    bottom: 30%;
    background-color: #3C7BB5;
    border-radius: 20%;
    border: #3C7BB5;
    height: 25px;
    width: 100px;
    color: #fff;
}