<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borad</title>
    <link rel="stylesheet" href="../Style/BLGame.css">
</head>
<body>
    <header>
        <h2 class="logo">Game Platform</h2>
        <nav class="navigation">
            <a onclick="window.location.href='/mainPage'">Home</a>
            <a onclick="window.location.href = '/Q_game'">Games</a>
            <a onclick="window.location.href='/profile'">profile</a>
            <input type="text" placeholder="Search">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </nav>
    </header>

    <div class="board">
        <div class="row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
        </div>
        <div class="row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>

        </div>
        <div class="row">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>

        </div>
    </div>
</body>
</html>