<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../Style/SignUp.css">
</head>
<body>
    <header>
        <h2 class="logo">Game Platform</h2>
        <nav class="navigation">
            <a onclick="window.location.href='/mainPage'">Home</a>
            <a onclick="window.location.href = '/Q_game'">Games</a>
            <a onclick="window.location.href='/profile'">profile</a>
            <input type="text" placeholder="Search">
            <input type="checkbox" id="check">
            <label for="check" class="Mode"></label>

        </nav>
    </header>
    <div class="boxLogIn">
        <h2>Sign Up</h2>
        <form action="">
            <label for="">username</label>
            <input type="text" required>
            <label for="">password</label>
            <input type="password" required>
            <label for="">Email</label>
            <input type="email" required>
        </form>
        <button>Log In</button>
        <p>If you have already an account<a href="./LogIn.html"> click here</a></p>
    </div>
</body>
</html>