<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Style/profile.css">
</head>
<body>
    <header>
        <h2 class="logo">Game Platform</h2>
        <nav class="navigation">
            <a onclick="window.location.href='/mainPage'">Home</a>
            <a onclick="window.location.href = '/Q_game'">Games</a>
            <a onclick="window.location.href='/profile'">Profile</a>
            <input type="text" placeholder="Search">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>

        </nav>
    </header> 

    <% if(user) { %>
        <div class="profileInfo">
            <img src="<%= user.picture %>" alt="Avatar">
            <p> username: <%= user.nickname %></p>
            <p>Email: <%= user.email %></p>
        </div> 
        <button>Edit Profile</button>
   <%} %>
</body>
</html>